#page-navigation
  %ul
    %li= icon_link_to :home, data_source_path(@data_source)
    %li= icon_link_to :document, data_source_data_set_path(@data_source, @data_set)


%h1 Editing data_set
= render 'form'