%h1 Listing pulse_applications
%table
  %tr
    %th
    %th
    %th
  - @pulse_applications.each do |pulse_application|
    %tr
      %td= link_to 'Show', pulse_application
      %td= link_to 'Edit', edit_pulse_application_path(pulse_application)
      %td= link_to 'Destroy', pulse_application, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Pulse application', new_pulse_application_path
