.color1
  %p Color 1: HTML: #4b92db  RGB: 75/146/219  HSV: 210/66/86
.color2
  %p Color 2: HTML: #31608f  RGB: 49/96/143  HSV: 210/66/56
.color3
  %p Color 3: HTML: #dbc34b  RGB: 219/195/75  HSV: 50/66/86
.color4
  %p Color 4: HTML: #8f6f31  RGB: 143/111/49  HSV: 40/66/56
.color5
  %p Color 5: HTML: #242424  RGB: 36/36/36  HSV: 0/0/14
.color6
  %p Color 6: HTML: #dbdbdb  RGB: 219/219/219  HSV: 0/0/86
