$content-width: 960px
$header-height: 23px
$large-font-size: 22px //44px
$panel-width: 900px

@mixin inline-menu
  float: none
  height: 20px
  ul
    align: center
    li
      display: inline-block
      padding-left: 3px
      padding-right: 7px
      //border-left: 1px dotted #066
      //border-right: 1px dotted #066
    li.last
      border-left: 1px dotted #066
      display: inline-block
      padding-left: 3px
      padding-right: 3px
      border-right: 0px

@mixin rounded-border
  border: 1px dotted #066
  border-radius: 5px
  padding: 5px 5px 5px 5px

body
  margin: 0
  padding: 0
  background: white //url(images/img01.jpg) repeat-x left top
  font-family: Arial, Helvetica, sans-serif
  font-size: 1.1em

h1, h2, h3
  margin: 0
  text-transform: uppercase
  font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif
  font-weight: normal

h1
  font-size: $large-font-size

h2
  font-size: 18px

h3

p, ul, ol
  margin-top: 0

ul, ol

blockquote

a:hover
  text-decoration: none

a img
  border: none

img.left
  float: left
  margin: 7px 30px 0 0

img.right
  float: right
  margin: 7px 0 0 30px

hr
  display: none

.navigation
  @include inline-menu
  height: 20px



div
  @include rounded-border
  //border: 2px


table
  width: 100%
  @include rounded-border
  tr
    td
      @include rounded-border
      span
        float: left
    th
      text-align: left
      @include rounded-border

.list1
  li
    float: left
    line-height: normal
  li img
    margin: 0 30px 30px 0
  li.alt img
    margin-right: 0


#wrapper
  #logo
    width: $content-width
    height: 70px
    margin: 0 auto
    h1, p
      margin: 0px
      line-height: normal
      font-weight: normal
    p
      text-transform: uppercase
      font-size: 10px
    h1
      padding-top: 10px
      font-size: $large-font-size
      img
        height: 60px
        width: 36px
    a
      text-decoration: none
  #global-navigation
    #header
      width: $content-width
      height: 32px
      margin: 0 auto
      #menu
        float: left
        width: 540px
        height: $header-height
        //height: 64px
        ul
          margin: 0
          padding: 0px 0px 0px 5px
          list-style: none
          line-height: normal
        li
          display: block
          float: left
        a
          display: block
          float: left
          height: $header-height
          margin-right: 3px
          //padding: 28px 25px 15px 25px
          //background: url(images/img07.jpg) no-repeat left 32px
          text-decoration: none
          text-transform: uppercase
          font-family: Arial, Helvetica, sans-serif
          font-size: 11px
        a:hover
          text-decoration: underline
        .current_page_item a
          height: 20px
        .first
          background: none
  #page
    width: $content-width
    margin: 0 auto
    #page-bgtop
      padding-top: 12px
      #content
        width: $content-width
        padding-top: 12px
        padding-right: 40px
      #page-navigation
        @include inline-menu
  #footer
    width: $content-width
    height: 32px
    margin: 0 auto
    padding: 0
    p
      margin: 0
      padding: 12px 0
      text-align: center
      line-height: normal
      text-transform: uppercase
      font-size: 10px
  #swatch
    width: 100%
    height: 20px
    float:left
    p
      font-size: 10px
    div
      height: 20px
      width: 300px
    .color1
      background-color: #4b92db
    .color2
      background-color: #31608f
    .color3
      background-color: #dbc34b
    .color4
      background-color: #8f6f31
    .color5
      background-color: #242424
    .color6
      background-color: #dbdbdb


/* Content


#sidebar
  float: left
  width: 162px
  padding-left: 22px
  font-family: Calibri, Arial, Helvetica, sans-serif
  font-size: 10px
  ul
    margin: 0
    padding: 0
    list-style: none
    line-height: normal
  li
    margin-bottom: 30px
    padding: 0 0 10px 0px
  li ul
  li li
    margin: 0 0 0 5px
    padding-left: 10px
    //background: url(images/img09.jpg) no-repeat left 4px
  p
    margin: 0
    padding: 0px 10px
  h2
    height: 26px
    margin: 0 0 10px 0px
    padding: 8px 0 2px 10px
    //background: url(images/img06.jpg) no-repeat left top
    text-transform: capitalize
    font-size: 11px
    font-weight: bold
    color: #42423E
  p
    line-height: 200%
  a
    color: #696969



div.data-store
  div
    float: left
    margin-left: 10px
    margin-top: 10px
    //width: 223px
    width: $panel-width
    //height: 300px
    //border: 1px solid #333333
    background: #ECF9E4
  form div
    width: 0
    height: 0
  .name
    width: 100%
    float: none
    height: 20px
    ul
      align: center
      li
        display: inline
        padding-left: 3px
        padding-right: 7px
        border-right: 1px dotted #066
      li.last
        display: inline
        padding-left: 3px
        padding-right: 3px
        border-right: 0px
  .comments
    padding: 3px
    width: $panel-width
    h2
      font-size: x-small
    h3
      font-size: xx-small
  .map
    width: 223px
  .tags, .quality-scores
    margin: 0px
    width: 223px
    height: 110px
  .dates
    width: 223px
  .description
    width: 255px
  table
    //border: 1px solid #333333
    font-size: 10px
    td
      //border: 1px solid #333333
  .assessment
    width: 255px

.tweet
  img
    float: left
    margin-right: 3px



#user
  border-top: none
  border-top-left-radius: 0px 0px
  border-top-left-radius: 0px 0px
  border-top-right-radius: 0px 0px
  border-top-right-radius: 0px 0px
  float: right
  font-size: 12px
  padding: 8px 5px 7px 10px
  ul
    display: inline
    font-weight: bold
    margin: 0px
    li
      display: inline
      list-style-type: none
      margin: 0px
      padding: 0px 8px 0px 9px
  .avatar
    display: inline
    font-weight: bold
    padding-right: 6px
    img
      border: 1px solid white
      margin-right: 3px
      margin-top: -3px
      vertical-align: middle
