@charset "UTF-8";
/* CSS Document */

#tagline {	
	color: #999;
	font-family: georgia;
	font-size: 1.25em;
	font-style: italic;
	font-weight: lighter;
	line-height: 1.3em;

}

#globalPulseLogo{
	float:left;
}

#main{
	width:1000px;
	margin-left:auto;
	margin-top:100px;
}

#hide{
	display:none;
}
